.navbar-logo .logo-img,
.logo-text {
  display: inline-block;
  vertical-align: middle; /* 确保图片和文字垂直居中 */
  line-height: 50px;
}
.logo-text {
  font-size: 20px;
  font-weight: bold;
  margin-right: 100px;
}
.logo-img {
  padding-left: 10px;
}
.navbar {
  background-color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #2ca8da;
  font-weight: bold;
  background-color: transparent;
}
.btn-primary {
  color: #fff;
  background: linear-gradient(129deg, #1bed77 16%, #1bdd8a 42%, #1eca86 91%);
  border-color: #29c2ff;
}
.jumbotron {
  background-color: #fff;
  margin-top: 70px;
}
.footer .jumbotron {
  background-color: #eee;
}
.model {
  width: 100%;
  height: 200px;
  border: 1px solid #38defc;
  background-color: #f8f6f6;
  padding: 20px;
  margin-bottom: 10px;
}
.model:hover {
  color: #fff;
  background-color: #99d2e0;
}
.footer p{
  font-size: 16px;
}